

/* CONTAINER */
.container { /* Container = unsichtbare, zentrierte Box */
  max-width: 1200px;           /* max. Breite */
  margin: 0 auto;              /* zentriert, 0 = Abstand oben/unten, auto = Abstand links/rechts automatisch < zentriert horizontal */
  /* margin: 0 auto = horizontal zentrieren durch gleichen Rand links & rechts */
  padding: 0 var(--space-lg);  /* horizontaler Abstand */

}

/* LINKS und HOVER */
a {
  color: var(--blue);        /* Hauptfarbe */
  transition: color 0.3s;    /* Farbwechsel wirkt sanft, nicht abrupt < also wenn sich die Farbe ändert, z. B. beim Hover, dann soll der Wechsel 0,3 Sekunden dauern und gleichmäßig ablaufen */
  text-decoration: none;
}

a:hover{
  color: var(--blue-light); /* heller beim Hover */
}

/* BUTTONS BASIS */
button {
    color: var(--beige-pale);
    font-size: 15px;
    font-weight: bold;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    background: var(--green-light);
    border: 1px solid var(--green-extrem-light);
}

button:hover{
    color: var(--green-light);
    background: var(--beige-pale);
    border-color: var(--green-extrem-light);
}

/* BACKGROUND */
.background {
    background: url("../image/background_soft.png");
}

.backgroundBreathing {
    background: var(--green-extrem-light);
}

.focusBackground {
    background: var(--beige-soft);
}

/* ÜBERSCHRIFTEN */
h1{
  font-weight: bold;
  line-height: 1.6;  /* Zeilenabstand < line-height regelt Zeilenabstand, Spacing-Variablen Abstände zwischen Elementen */
  color: var(--green-dark);
  font-size: 55px;
  text-align: center;
  letter-spacing: var(--space-xxxs);
}

h2{
  font-weight: bold;
  color: var(--beige-dark);
  font-size: 25px;
  text-align: center;
  line-height: 1.5;  /* Zeilenabstand < line-height regelt Zeilenabstand, Spacing-Variablen Abstände zwischen Elementen */
  margin-bottom: var(--space-md);;
}

h2:nth-of-type(2){
  margin-bottom: var(--space-xl);;
}

p{
    text-align: center;
    color: var(--blue);
    line-height: 1.8;
}

/* ZURÜCK BUTTON */
.button {
    position: fixed;
    top: var(--space-sm);
    left: var(--space-sm);
    font-weight: bold;
    font-size: 18px;
    padding-top: var(--space-xxs);
    padding-bottom: var(--space-xxs);
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    border: 1px solid var(--blue);
    border-radius: 15px;
}

.button:hover{
    border-color: var(--blue-light)
}

.icon1, .icon2, .icon3 {
    width: 100%; 
    max-width: 200px; 
    aspect-ratio: 1 / 1;  /* immer quadratisch */
    margin: -20px auto;
    background-size: contain;
    background-repeat: no-repeat; /* Bild soll sich nicht widerholen */
    background-position: center; /*  */
}
.icon1 {
    background-image: url("../image/icon_breath.png");
}

.icon2 {
    background-image: url("../image/icon_focus.png");
}

.icon3 {
    background-image: url("../image/icon_structure.png");
}