

/* CONTAINER */
.container { /* Container = unsichtbare, zentrierte Box */
  max-width: 1200px;           /* max. Breite */
  margin: 0 auto;              /* zentriert, 0 = Abstand oben/unten, auto = Abstand links/rechts automatisch < zentriert horizontal */
  /* margin: 0 auto = horizontal zentrieren durch gleichen Rand links & rechts */
  padding: 0 var(--space-lg);  /* horizontaler Abstand */
}

/* LINKS und HOVER */
a {
  color: var(--blue);        /* Hauptfarbe */
  transition: color 0.3s;    /* Farbwechsel wirkt sanft, nicht abrupt < also wenn sich die Farbe ändert, z. B. beim Hover, dann soll der Wechsel 0,3 Sekunden dauern und gleichmäßig ablaufen */
  text-decoration: none;
}

a:hover{
  color: var(--blue-light); /* heller beim Hover */
}

/* BUTTONS BASIS */
button {
  font-family: inherit; /* Schrift */
}

/* BACKGROUND */
.background {
    background: url("../image/background.png");
}

.backgroundBreathing {
    background: var(--apricot);
}

.gradientBackground {
    background: var(--apricot);
}

.focusBackground {
    background: var(--apricot);
}

/* ÜBERSCHRIFTEN */

h1{
  font-weight: bold;
  line-height: 2;  /* Zeilenabstand < line-height regelt Zeilenabstand, Spacing-Variablen Abstände zwischen Elementen */
  color: var(--green-dark);
  font-size: 3rem;
  text-align: center;
}

h2{
  font-weight: bold;
  color: var(--beige-dark);
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.5;  /* Zeilenabstand < line-height regelt Zeilenabstand, Spacing-Variablen Abstände zwischen Elementen */
  margin-bottom: 1.5rem;
}

h2:nth-of-type(2){
  margin-bottom: 3rem;
}

p{
    text-align: center;
    color: var(--blue);
    line-height: 1.8;
}
