/* BODY */
body {
    /* Container = unsichtbare, zentrierte Box */
    max-width: 1200px;
    /* max. Breite */
    margin: 0 auto;
    /* zentriert, 0 = Abstand oben/unten, auto = Abstand links/rechts automatisch < zentriert horizontal */
    /* margin: 0 auto = horizontal zentrieren durch gleichen Rand links & rechts */
    padding: 0 var(--space-lg);
    /* horizontaler Abstand */
    font-family: system-ui;
    /* Schriftart */
}

/* LINKS und HOVER */
a {
    color: var(--blue-900);
    /* Hauptfarbe */
    transition: color 0.3s;
    /* Farbwechsel wirkt sanft, nicht abrupt < also wenn sich die Farbe ändert, z. B. beim Hover, dann soll der Wechsel 0,3 Sekunden dauern und gleichmäßig ablaufen */
    text-decoration: none;
    /* keine Unterstreichung */
}

a:hover {
    color: var(--blue-600);
    /* heller beim Hover */
}

/* BACKGROUND */
.bg-default {
    background: url("../image/background_soft.png");
}

.bg-breathing {
    background: var(--green-100);
}

.bg-focus {
    background: var(--beige-200);
}

/* ÜBERSCHRIFTEN */
h1 {
    font-weight: bold;
    line-height: 1.6;
    /* Zeilenabstand < line-height regelt Zeilenabstand, Spacing-Variablen Abstände zwischen Elementen */
    color: var(--green-900);
    font-size: 55px;
    text-align: center;
    letter-spacing: var(--space-3xs);
    /* horizontaler Zwischenabstand der einzelnen Buchstaben */
    margin-top: var(--space-sm);
    margin-bottom: var(--space-xl);
}

h2, .subtitle {
    font-weight: bold;
    color: var(--beige-900);
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
    /* Zeilenabstand < line-height regelt Zeilenabstand, Spacing-Variablen Abstände zwischen Elementen */
    margin-bottom: var(--space-md);
}

.subtitle {
    /* das zweite <h2> auf der Seite ausgewählt */
    margin-bottom: var(--space-3xl);
}

h3 {
    font-weight: bold;
    color: var(--green-700);
    font-size: 20px;
    text-align: center;
    line-height: 1;
    /* Zeilenabstand < line-height regelt Zeilenabstand, Spacing-Variablen Abstände zwischen Elementen */
    margin-bottom: var(--space-sm);
    margin-top: 0;
    /* damit Abstand zwischen icon und h3 nicht zu groß ist */
}

p {
    text-align: center;
    color: var(--blue-900);
    line-height: 1.8;
}

.h2-accent {
    color: var(--blue-900);
}