:root {

  /* nat체rliches blau */
  --blue: #495b6d;
  --blue-light: #8994a4;
  --blue-soft: #b2c7d3;
  --blue-extrem-light: #d4dce0;

  /* nat체rliches gr체n */
  --green-dark: #272f15;
  --green-soft: #566352;
  --green-light: #8c977f;
  --green-extrem-light:#e2ddcb;

  /* neutrale Farben beige/rosa */
  --beige-dark: #665241;
  --beige-mid: #ab9b8c;
  --beige-light: #c2bbb2;
  --beige-soft: #e1d6c9;
  --beige-pale: #f5ece0;
  --apricot: #ddbe9c;
  --rose: #efcfbf;

  /* Basisfarben */
  --white: #fceee6;
  --gray-100: #e2c4c2;
  --gray-200: #c39064;
  --gray-300: #94986a;
  --gray-400: #444637;
  --gray-800: #643e29;

  /* SHADOWS < ruhig & soft */
  --shadow-lg: 0 12px 20px rgba(0,0,0,0.12); /* horizontal vertikal blur farbe+transparenz(letzte Zahl) 
  hier:    
   0 = keine seitliche Verschiebung
   12px = Schatten nach unten
   20px = weiche Unsch채rfe
   */

  /* RADIUS */
  --radius: 15px;
  --radius-sm: 5px;
  --radius-xs: 3px;
}
