/* CARDS */

/* Flexbox-Container für cards < nebeneinander, beschreibt den Container */
.cards {
    display: flex;
    justify-content: center;
    /* horizontal zentrieren < flex */
    align-items: stretch;
    /* Kinder gleich hoch strecken, Querachse < flex */
    gap: var(--space-xl);
    /* Abstand zwischen cards horizontal < flex */
    flex-wrap: wrap;
    /* umbrechen auf kleineren Screens < flex */
}

/* Karten mit weißem Hintergrund, Hover */
.card {
    max-width: 200px;
    /* max Breite der Karten */
    background: var(--warm-100);
    /* weißer Hintergrund */
    border-radius: var(--radius-lg);
    /* abgerundete Ecken */
    padding: var(--space-sm);
    /* Innenabstand */
    box-shadow: var(--shadow-lg);
    /* weicher Schatten auf allen Karten */
    margin-bottom: var(--space-md);
    /* Abstand unten, sonst Karten kleben aneinander */
}

/* Hover Effekt */
.card:hover {
    background: var(--beige-100);
}

/* Beim Klicken */
.card:active {
    background: var(--blue-100);
    /* dunkler als hover */
}

/* BUTTONS BASIS */
button {
    color: var(--beige-100);
    font-size: 15px;
    font-weight: bold;
    padding: var(--space-xs);
    background: var(--green-400);
    border: 1px solid var(--green-100);
    border-radius: var(--radius-lg);
}

button:hover {
    color: var(--green-400);
    background: var(--beige-100);
    border-color: var(--green-100);
}

/* Tastaturnavigation */
button:focus-visible,
a:focus-visible {
    outline: 2px solid var(--blue-900);
    outline-offset: 3px;
    border-radius: var(--radius-sm);
}

/* ZURÜCK BUTTON */
.btn-back {
    position: fixed;
    top: var(--space-sm);
    /* fixed */
    left: var(--space-sm);
    font-weight: bold;
    font-size: 18px;
    padding: var(--space-2xs) var(--space-xs);
    border: 1px solid var(--blue-900);
    border-radius: var(--radius-lg);
}

.btn-back:hover {
    border-color: var(--blue-600)
}

.icon-breath,
.icon-reset,
.icon-focus {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    /* immer quadratisch */
    margin: 0 auto;
    background-size: contain;
    /* Passt das Bild so an, dass es vollständig in die Box passt (Seitenverhältnis bleibt erhalten, nichts wird abgeschnitten) */
    background-repeat: no-repeat;
    /* Bild soll sich nicht widerholen */
    background-position: center;
    /* Platziert das Hintergrundbild horizontal und vertikal in der Mitte */
}

.icon-breath {
    background-image: url("../image/icon_breath.png");
}

.icon-reset {
    background-image: url("../image/icon_reset.png");
}

.icon-focus {
    background-image: url("../image/icon_structure.png");
}