/* Kreis */
.focus-ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--beige-600);
    animation: follow 10s infinite;
    margin: var(--space-xl) auto;
}

@keyframes follow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(225px);
    }

    /* 250px runter auf Y Achse */
    100% {
        transform: translateY(0);
    }
}