fieldset {
    max-width: 600px;
    /* Formular maximal 600px breit */
    margin: 0 auto;
    /* Formular zentriert */
    border: 1.5px solid var(--beige-900);
    /* blauer Rahmen */
    border-radius: var(--radius-md);
    padding: var(--space-md);
    /* Innenabstand */
    background: var(--green-100);
    /* weißer Hintergrund */
    margin-bottom: var(--space-sm);
}

/* Überschrift der einzelnen gebündelten Daten */
legend {
    color: var(--blue-900);
    /* Textfarbe blau */
    font-size: 18px;
    font-weight: bold;
}

/* Überschrift der einzelnen Daten */
label {
    display: block;
    /* eigene Zeile über Input < untereinander */
    color: var(--blue-900);
    /* blau */
    font-size: 16px;
    margin-bottom: var(--space-2xs);
}

input {
    width: 100%;
    /* volle Breite */
    border: 1px solid var(--blue-900);
    /* heller Rahmen */
    border-radius: var(--radius-sm);
}

button[type="submit"] {
    margin: var(--space-sm) 0 var(--space-md) 0;
    /* oben, rechts, unten, links */
    color: var(--warm-100);
    font-size: 15px;
    font-weight: bold;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    background: var(--green-700);
    border: 1px solid var(--green-100);
    border-radius: var(--radius-lg);
}

button[type="submit"]:hover {
    color: var(--green-700);
    background: var(--warm-100);
    border-color: var(--green-100);
}

/* Layout des Buttons < Position */
.form-actions {
    max-width: 650px;
    margin: 0 auto;
    text-align: right;
}