.note {
    list-style: none; /* ohne Aufzählpunkte */
    text-align: center;
    color: var(--blue); /* li anstatt p, aber gleich stylen */
    line-height: 1.8;
}

/* Notiz mit Ideen eiblenden wenn man über den Button hovert */

/* transition hat immer Anfangs- und Endzustand */
/* start */
.noteIdeas {
    /* Elterncontainer */
    position: relative;
    /* mit top, left, bottom, right verschieben, ohne dass es andere Elemente aus dem Layout drängt, Kinder wie Button bewegen sich mit */
    position: fixed; /* klebt unten rechts am Bildschirm */
    right: var(--space-md);
    bottom: var(--space-md);
}

.note {
    position: absolute; /* Positioniert sich relativ zum nächsten relative-Elternteil */
    /* relative = macht ein Element zum Bezugspunkt
       absolute = richtet sich an diesem Bezugspunkt aus
    */
    bottom: var(--space-sm);
    /* bestimmt, wie weit vom unteren Rand entfernt das Element steht */
    right: 0;
    /* positioniert die Notiz unten rechts im .noteIdeas-Container damit das Element ganz rechts im Container sitzt */
    padding: 1em;
    /* Innenabstand um die Karten herum */
    opacity: 0;
    /* transparent, wird schön eingeblendet */
    transition: transform 2s, opacity 3s;
    /* Alle Änderungen an transform werden über 2 Sekunden sanft animiert */
    transform: translate(100%, 0);
    /* x-Achse < Element ist 100% seiner eigenen Breite nach rechts verschoben (außerhalb, nicht sichtbar) */
}

/* end */
.noteIdeas button:hover+.note {
    /* der letzte Absatz */
    transform: translate(0, 0);
    /* Element ist an normaler Position (sichtbar im Bildschirm)
    translateY(100%) verschiebt das Element um 100 % seiner eigenen Höhe nach unten < 100 % bezieht sich immer auf die Größe des Elements selbst, nicht des Containers */
    opacity: 1;
    /* voll sichtbar */
}

.noteIdeas .card {
    width: 320px;
    /* breiter */
}