/* https://www.mediaevent.de/tutorial/css-gradient-animation.html 
Hintergrund
*/

.gradientBackground {
    width: 100%;
    min-height: 100vh;
    background-size: 200% 200%; /* macht den Verlauf größer */ 
    background-image: repeating-linear-gradient(-45deg,
            var(--beige-pale) 0%,
            var(--beige-light) 12%,
            var(--green-extrem-light) 24%,
            var(--rose) 36%,
            var(--beige-soft) 48%,
            var(--green-extrem-light) 60%,
            var(--blue-table) 72%,
            var(--beige-light) 86%,
            var(--beige-pale) 100%);
    animation: diagonal 10s linear infinite alternate;
}

@keyframes diagonal {
    0% {
        background-position: 0% 50%
    }

    100% {
        background-position: 100% 50%
    }
}

.h2Focus {
    color: var(--blue);
}