/* Größere Darstellung auf großen Bildschirmen */
@media (min-width: 1000px) {

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 26px;
  }

  p {
    font-size: 18px;
  }

  .card {
    max-width: 260px;
    padding: 24px;
  }

  .cards {
    gap: 40px;
  }
}