/* 
Spacing-Skala für konsistente Abstände 
rem macht Layouts flexibler, skalierbar, konsistent und zugänglich < gut für moderne, responsive Designs
*/

:root {
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem; /* sehr klein */
  --space-sm: 1rem; /* klein */
  --space-md: 1.5rem; /* mittel */
  --space-lg: 2rem; /* groß */
  --space-xl: 3rem; /* extra groß */
  --space-2xl: 4rem; /* sehr groß */
  --space-3xl: 5rem; /* extra sehr groß */
  --space-4xl: 6rem; /* extra sehr groß */ 
}